	h1
{
	background-color:navy;
	color: Black;
	
	#Heading {

		position:relative;

		top:10px;

		left: 10px;

		width:700px

		text-allign:center;}
}
	
body
{
	background-image: url(Rainbow-road-n64.png);
	background-image: no-repeat;
	background-image: contain;
	background-color: off-white;
	color: Black;
	}
p{
	font-family: "Times New Roman", color: Black;
}

	#Description {
		position:relative;
		top:40px;
		left:200px;
		width:700px
		text-allign:center;}
	

a:link {
    color: Blue;
}

a:visited {
    color: green;
}

a:hover {
    color: black;
}

a:active {
    color: Yellow;
} 

table, th, td {
   border: 4px solid Navy;
} 

table {
    width: 75%;
}

th {
    height: 40px;
} 
th {
    text-align: left;
} 
th, td {
    padding: 20px;
    text-align: left;
} 

	#Links{
		position:relative;
		top:20px;
		left: 10px;
		width: 700px;
		text-allign:center;
