h1
{
	background-color:Blue;
	color: Black;
}
body 
{
	background-color: Gray;
	color: Black;
	}
p{
	font-family: "Times New Romaan", color: Black;
}

a:link {
    color: Blue;
}

a:visited {
    color: green;
}

a:hover {
    color: black;
}

a:active {
    color: Yellow;
} 

table, th, td {
   border: 4px solid Navy;
} 

table {
    width: 75%;
}

th {
    height: 40px;
} 
th {
    text-align: left;
} 
th, td {
    padding: 15px;
    text-align: left;
} 
